<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ncursorgen - Test: template</title>
</head>
<body>

  <script src="../../src/utils/data-types.js"></script>
  <script src="../../src/utils/data-view-ext.js"></script>

  <script src="../../src/structure/ani.js"></script>
  <script src="../../src/structure/bmp.js"></script>
  <script src="../../src/structure/cur.js"></script>
  <script src="../../src/structure/xcur.js"></script>

  <script src="../../src/parser/ani.js"></script>
  <script src="../../src/parser/bmp.js"></script>
  <script src="../../src/parser/cur.js"></script>
  <script src="../../src/parser/xcur.js"></script>

  <script src="../../src/writer/ani.js"></script>
  <script src="../../src/writer/bmp.js"></script>
  <script src="../../src/writer/cur.js"></script>
  <script src="../../src/writer/xcur.js"></script>

  <script src="../utils.js"></script>

  <script src="test.js"></script>

</body>
</html>
